@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@layer base {
  :host {
    /* 重置所有继承属性 */
    all: initial;
    /* 设置基础字体大小 */
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, Pretendard, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1.5 !important;
    /* 确保颜色不被继承 */
    color: initial !important;
    background-color: transparent !important;
  }
}

@theme {
  /* 在这里定义你的自定义配置 */
  /* --color-brand: #ff0000;

  
  /* 扩展默认主题 */
  --font-family-sans: -apple-system, BlinkMacSystemFont, Pretendard, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* 隐藏 Chrome, Safari, Edge, Opera 的调节箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 隐藏 Firefox 的调节箭头 */
input[type='number'] {
  -moz-appearance: textfield;
}